Source: osra
Section: science
Priority: optional
Maintainer: Dmitry Katsubo <dma_k@mail.ru>
Build-Depends:	debhelper (>= 9),
		cimg-dev (>= 1.2.7),
		libc6-dev (>= 2.7),
		libstdc++-dev,
		libtclap-dev (>= 1.2),
		libpotrace-dev (>= 1.8),
		libgocr-dev (>= 0.49),
		libocrad-dev (>= 0.20),
		libopenbabel-dev (>= 2.3),
		libgraphicsmagick++1-dev (>= 1.3),
		libcuneiform-dev (>= 1.1),
		libtesseract-dev (>= 3.01),
		java2-sdk,
		docbook-xsl (>= 1.74.0),
		docbook-xml,
		xsltproc,
		naturaldocs
Standards-Version: 3.9.6
Homepage: http://osra.sourceforge.net/
XS-Vcs-Svn: https://osra.svn.sourceforge.net/svnroot/osra/
Vcs-browser: http://osra.svn.sourceforge.net/viewvc/osra/

Package: osra
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, ${binary:Depends}, osra-common (= ${source:Version})
Recommends: gocr, ocrad, potrace
Description: Command line chemical structure recognition tool (OSRA)
 ${common:Description}

Package: osra-common
Architecture: all
Depends: ${misc:Depends}
Description: Shared files for chemical structure recognition tool (OSRA)
 ${common:Description}

Package: libosra2
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, ${binary:Depends}, osra-common (= ${source:Version})
Description: Chemical structure recognition library (OSRA)
 ${common:Description}

Package: libosra-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}, libosra2 (= ${binary:Version})
Description: Development headers to consume the OSRA library
 ${common:Description}

Package: libosra-java2
Architecture: any
Section: java
Depends: ${misc:Depends}, ${shlibs:Depends}, ${binary:Depends}, osra-common (= ${source:Version})
Description: Chemical structure recognition library for Java (OSRA)
 ${common:Description}
